{% extends base.html %}

{% block title %}Help Links{% end %}

{% block includes %}
<link href="{{ static_url('css/span-fix.css') }}" rel="stylesheet">
{% end %}

{% block content %}
<div class="row-fluid">
    <div class="panel panel-info span3">
        <div class="panel-heading">
            <div class="panel-title"><i class="fa fa-search"></i> Exploitation</div>
        </div>
        <div class="panel-body">
            <ul>
                 <li><a href="http://hackvertor.co.uk/public" target="_blank"> Hackvertor </a></li>
                 <!-- <li><a href="http://hackarmoury.com/" target="_blank"> Hackarmoury </a></li> -->
                 <li><a href="http://www.exploit-db.com/" target="_blank"> ExploitDB </a></li>
                 <li><a href="http://www.exploitsearch.net/" target="_blank"> ExploitSearch </a></li>
                 <li><a href="http://www.hakipedia.com/index.php/Hakipedia" target="_blank"> Hackipedia </a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-info span3">
        <div class="panel-heading">
            <div class="panel-title"><i class="fa fa-road"></i> Methodology</div>
        </div>
        <div class="panel-body">
            <ul>
                 <li><a href="https://www.owasp.org/index.php/OWASP_Testing_Guide_v3_Table_of_Contents" target="_blank"> OWASP </a></li>
                 <li><a href="http://www.pentest-standard.org/index.php/Main_Page" target="_blank"> Pentest Standard </a></li>
                 <li><a href="http://www.isecom.org/research/osstmm.html" target="_blank"> OSSTMM </a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-info span3">
        <div class="panel-heading">
            <div class="panel-title"><i class="fa fa-plus-circle"></i> Calculators</div>
        </div>
        <div class="panel-body">
            <ul>
                <li><a href="http://nvd.nist.gov/cvss.cfm?adv&calculator&version=2" target="_blank"> CVSS Advanced </a></li>
                <li><a href="http://nvd.nist.gov/cvss.cfm?calculator&version=2" target="_blank"> CVSS Normal </a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-info span3">
        <div class="panel-heading">
            <div class="panel-title"><i class="fa fa-book"></i> Test/Learn</div>
        </div>
        <div class="panel-body">
            <ul>
                <li><a href="http://www.owasp.org/index.php?title=OWASP_Vulnerable_Web_Applications_Directory_Project" target="_blank"> OWASP VWAD </a></li>
                <li><a href="http://securitythoughts.wordpress.com/2010/03/22/vulnerable-web-applications-for-learning/" target="_blank"> Securitythoughts </a></li>
                <li><a href="http://danielmiessler.com/projects/webappsec_testing_resources/" target="_blank"> Danielmiessler </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title"><i class="fa fa-gear"></i> OWTF Help Links</div>
        </div>
        <div class="panel-body">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <strong>Useful Links:-</strong>
                <ul class="list-unstyled">
                    <li><i class="fa fa-github-alt"></i><a href="https://github.com/owtf/owtf/wiki" target="__blank"> Github wiki</a></li>
                    <li><i class="fa fa-youtube-play"></i><a href="http://www.youtube.com/user/owtfproject" target="__blank"> Youtube Channel</a></li>
                    <li><i class="fa fa-file-text-o"></i><a href="http://blog.7-a.org/search/label/OWTF%20Release" target="__blank"> Release notes</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <strong>Contributor's Links:-</strong>
                <ul class="list-unstyled">
                    <li><i class="fa fa-github-square"></i><a href="https://github.com/owtf/owtf" target="__blank"> Github Repo</a></li>
                    <li><i class="fa fa-exclamation-circle"></i><a href="https://github.com/owtf/owtf/issues" target="__blank"> Report an Issue</a></li>
                    <li><i class="fa fa-file"></i><a href="https://github.com/owtf/owtf/wiki/Contributor%27s-README" target="__blank"> Readme</a></li>
                    <li><i class="fa fa-user"></i><a href="https://github.com/owtf/owtf/blob/master/AUTHORS" target="__blank"> Contributors</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <strong>Stay in touch:-</strong>
                <ul class="list-unstyled">
                    <li><i class="fa fa-comments-o"></i><a href="http://irc.netsplit.de/channels/details.php?room=%23owtf&net=freenode" target="__blank"> IRC Channel</a></li>
                    <li><i class="fa fa-envelope"></i><a href="https://lists.owasp.org/mailman/listinfo/owasp_owtf" target="__blank"> Mailing List</a></li>
                    <li><i class="fa fa-twitter"></i><a href="https://twitter.com/owtfp" target="__blank"> Twitter</a></li>
                    <li><i class="fa fa-bookmark-o"></i><a href="http://blog.7-a.org" target="_blank" > Author's Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}
