{% extends base.html %}

{% block title %}Session Viewer{% end %}

{% block content %}
<h2>Cookie-based user sessions data</h2>
<hr/>
{% for cookies in sessions_data %}
    {% for cookie in cookies %}
        <div class="row-fluid">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 id="token_head" a data-toggle="collapse" data-parent="#accordion" href="#token">{{ cookie["name"] }}</h4>
                    </div>
                    <div id="token" class="panel-collapse collapse-in">
                        <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li class="pull-right"><button class="btn btn-primary btn-sm"> View URL map</button></li>
                            <hr />
                        </ul>
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th> NAME </th>
                                        <th> VALUE </th>
                                        <th> ATTRIBUTES </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="token"></tr>
                                        <td id="token_name">{{ cookie["name"] }}</td>
                                        <td id="token_value">{{ cookie["value"] }}</td>
                                        <td>
                                        {% if "Domain" in cookie["attributes"] %}
                                            <ul id="token_attr_domain"><b>Domain</b>: {{ cookie["attributes"]["Domain"] }}</ul>
                                        {% end %}
                                        {% if "Path" in cookie["attributes"] %}
                                            <ul id="token_attr_path"><b>Path</b>: {{ cookie["attributes"]["Path"] }}</ul>
                                        {% end %}
                                        {% if "Secure" in cookie["attributes"] %}
                                            <ul id="token_attr_secure"><b>Secure</b>: {{ cookie["attributes"]["Secure"] }}</ul>
                                        {% end %}
                                        {% if "HttpOnly" in cookie["attributes"] %}
                                            <ul id="token_attr_httponly"><b>HttpOnly</b>: {{ cookie["attributes"]["HttpOnly"] }}</ul>
                                        {% end %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% end %}
{% end %}

{% end %}
