{% extends base.html %}

{% block title %}Target Panel{% end %}

{% block includes %}
<!-- DataTable Requirements -->
<script type="text/javascript" charset="utf-8" src="{{ static_url('js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url('js/dataTables.bootstrap.js') }}"></script>
<link href="{{ static_url('css/dataTables.bootstrap.css') }}" rel="stylesheet">
<!-- End DataTable requirements -->

<!-- Ckeditor requirements -->
<script type="text/javascript" charset="utf-8" src="{{ static_url('js/ckeditor/ckeditor.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url('js/ckeditor/adapters/jquery.js') }}"></script>
<!-- End CKeditor requirements -->
{% end %}

{% block content %}
<div id="report" data-code="{{ target_id }}"></div>

{% end %}
