{% extends base.html %}

{% block title %}Target Panel{% end %}

{% block includes %}
{% end %}

{% block content %}
<div class="page-header">
    <h2 id="TargetInfo"></h2>
</div>
<div class="row">
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-primary" onclick="window.location.href=mySpace.targets_ui_url;"><i class="fa fa-chevron-circle-left"></i> Go Back </button>
            <button class="btn btn-danger" onclick="alert('Run Plugins');"><i class="fa fa-flash"></i> Run Plugins </button>
            <button class="btn btn-warning" onclick="alert('Run Plugins');"><i class="fa fa-gears"></i> Settings </button>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    Logs
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a onclick="window.open(mySpace.transaction_log_url);"><i class="fa fa-list-alt"></i> Transaction Log </a></li>
                    <li><a onclick="window.open(mySpace.url_log_url);"><i class="fa fa-link"></i> URL Log </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row-fluid" id="pluginReport">
    <!-- Plugin outputs grouped by test code -->
</div>
<script>
var mySpace = {
                    target_api_url:"{{ target_api_url }}",
                    targets_ui_url:"{{ targets_ui_url }}",
                    poutput_ui_url:"{{ poutput_ui_url }}",
                    poutput_api_url:"{{ poutput_api_url }}",
                    plugins_api_url:"{{ plugins_api_url }}",
                    transaction_log_url:"{{ transaction_log_url }}",
                    url_log_url:"{{ url_log_url }}",
                    target_config:{},
                  };
function updatePluginOutputs(){
    $.get( mySpace.poutput_ui_url, function(data){
            $('#pluginReport').html(data);
            });
    setTimeout(20000, updatePluginOutputs);
}

function updateTargetInfo(){
    $.getJSON(mySpace.target_api_url, function(obj){
            mySpace.target_config = obj;
            $('#TargetInfo').html(obj.TARGET_URL+'<small> ('+obj.HOST_IP+')</small>');
            });
}

$(document).ready(function() {
        updateTargetInfo()
        updatePluginOutputs();
});
</script>
{% end %}
