{% extends base.html %}

{% block title %}Transaction{% end %}

{% block content %}
<div class="row">
    <div class="pull-right">
        <button class="btn btn-primary" href="#" onclick="navigateToTransactionLog();"><i class="fa fa-chevron-circle-left"></i> Go Back To Transaction Log</button>
        <!-- <button class="btn btn-danger" href="#" onclick="deleteTransaction();"><i class="fa fa-times"></i> Delete Transaction</button> Not of Use-->
        </div>
        <div class="pull-left">
         <button class="btn btn-warning" onClick="ForwardToZAP()" ><i class="fa fa-filter"></i> Forward </button>
        
         <button class="btn btn-default" id="replayBtn()" onclick="replayRequest()" ><i class="fa fa-refresh"></i> Replay </button>

         <button class="btn btn-danger" onclick="createZestScript()"> Create a Zest Script ! </button>
     </div>
  
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Raw Request</div>
            <div class="panel-body">
                <pre id="raw_request"></pre>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Raw Response Headers</div>
            <div class="panel-body">
                <pre id="raw_response_headers"></pre>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div id="raw_response_body_heading" class="panel-heading">Raw Response Body</div>
            <div class="panel-body">
                <pre id="raw_response_body"></pre>
            </div>
        </div>
    </div>
</div>


<script>
/*
$(function () {
   $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // Get the name of active tab
      var activeTab = $(e.target).text(); 
      // Get the name of previous tab
      var previousTab = $(e.relatedTarget).text(); 
      $(".active-tab span").html(activeTab);
      $(".previous-tab span").html(previousTab);
  });
});
*/
var mySpace = {
                    transaction_api_url:"{{ transaction_api_url }}",
                    transaction_log_url:"{{ transaction_log_url }}",
                    transaction_replay_url:"{{ transaction_replay_url }}",
                    forward_zap_url:"{{ forward_zap_url }}",
              };

function ForwardToZAP(){

    $.ajax({
            url:mySpace.forward_zap_url,
            type:'GET',
            error:function(xhr,textStatus, serverResponse){
                alert("Server replied: "+serverResponse);

            }
    });

}


function navigateToTransactionLog(){
    window.location.href = mySpace.transaction_log_url;
}

function deleteTransaction(){
    $.ajax({
            url:mySpace.transaction_api_url,
            type:'DELETE',
            success:navigateToTransactionLog,
            error:function(xhr, textStatus, serverResponse){
                alert("Server replied: "+serverResponse);
                }
            });
}

function createZestScript(){

    $.ajax({
            url:mySpace.transaction_api_url+"zest",
            type:'POST',
            error:function(xhr, textStatus, serverResponse){
            alert("Server replied: "+serverResponse);
                }
                
            });
}
                  

function replayRequest(){

    window.open(mySpace.transaction_replay_url, "_blank", "scrollbars=yes, resizable=yes, top=100, left=400, width=850, height=600");
}


function displayTransaction(){
    $.getJSON( mySpace.transaction_api_url, function(obj){
            $("#raw_request").text(obj.raw_request);
            $("#raw_response_headers").text(obj.response_status+"\r\n"+obj.response_headers);
            $("#raw_response_body").text(obj.response_body);
            if (obj.binary_response){
                $("#raw_response_body_heading").html("Raw Response Body <span class='label label-default'>BASE64 Encoded</span>");
            }else{
                $("#raw_response_body_heading").html("Raw Response Body");
            }
        });
}


$(document).ready(function() {
        displayTransaction();
        $('#backLink').attr("href", mySpace.transaction_log_url);
});
</script>
{% end %}
