{% extends base.html %}

{% block title %}URL Log{% end %}

{% block includes %}
<script type="text/javascript" charset="utf-8" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/dataTables.bootstrap.js"></script>
<link href="/static/css/dataTables.bootstrap.css" rel="stylesheet">
{% end %}

{% block content %}
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <a id="transactionLogLink"><span class="btn btn-primary"><i class="fa fa-chevron-circle-right"></i> Go To Transaction Log</span></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table id="url_log" class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th> Visited </th>
                    <th> Scope </th>
                    <th> URL </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
var mySpace = {
                    transaction_log_url:"{{ transaction_log_url }}",
                    urls_api_url:"{{ urls_api_url }}"
                  };

function addUrls(data, status, xhr){
    jQuery('#url_log').dataTable().fnClearTable();
    $.each(data, function(index, obj){
            jQuery('#url_log').dataTable().fnAddData([
                                                        obj.visited,
                                                        obj.scope,
                                                        obj.url
                                                    ]);
            mySpace.max_id = obj.id;
            });
}

function updateUrls(){
    $.getJSON( mySpace.urls_api_url, addUrls);
    setTimeout(updateUrls , 10000);
}
$(document).ready(function() {
        updateUrls();
        $('#transactionLogLink').attr("href", mySpace.transaction_log_url);
        $('#url_log').dataTable({
                                    "bAutoWidth": false
                                });
});
</script>

{% end %}
