{% extends base.html %}

{% block title %}Zest Console{% end %}


{% block includes %}

<style type="text/css">

body,html,.row-offcanvas {
  height:100%;
}

body {
  padding-top: 50px;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}

#main {
  height:100%;
  overflow:auto;
}

.btn{
	margin:30px;
	padding:7px;

}



.btn:focus,a, a:active, a:focus{
  outline: none;
}


  /* 1st level */
.nav label {
  color: blue;
}

/* 2nd level */
.tree > li > label {
  padding:10px 15px;  
}

/* 3rd level */
.tree > li > ul > li > a {
  color:#cc0000;
  font-size:10pt;
  margin-left:15px;
}
  
}

</style>

{% end %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col-md-3">
          <div class="well">
              <div>
                  <ul id="allscripts" class="nav nav-stacked fixed">
                      <li>
                          <label label-default="" class="tree-toggle nav-header">Recorded Scripts</label>
                          <ul id="rec_scripts" class="nav tree">
                          </ul>
                      </li>
                      <li>
                        <label label-default="" class="tree-toggle nav-header">Target Scripts</label>
                        <ul id="tar_scripts" class="nav tree">
                        </ul>
                      </li>
                
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-9">
        <h4>Script Content</h4>
      <pre id="script_content"></pre>
          <div class="row pull-right" style="text-align:center" >
  <button class="btn btn-primary " onclick="RecordToggle()"  id="recordZest">Record a Zest Script!</button>
  <button class="btn btn-primary" id="ForwardZest">Forward to ZAP !</button>
  <button class="btn btn-primary" id="RunZest"> Run the Zest Script !</button>
</div>

    </div>
  </div>
</div>

<script>

var mySpace = {

                    zest_console_api_url:"{{ zest_console_api_url }}",
                    zest_recording:"{{ zest_recording }}",
              };

//get scripts in zest output folder of the target
function GetScriptNames(){
		$.getJSON(mySpace.zest_console_api_url,function(obj){
    var target_list=obj.files;
    var rec_list=obj.recorded_files;
    LoadTargetScriptNames(target_list);
    LoadRecordScriptNames(rec_list);
		});
}

function LoadTargetScriptNames(target_list){
    $("#tar_scripts").empty();
    for (i=0;i<target_list.length;i++){
      if (i==0){
        $("#tar_scripts").append('<li class="active"><a href="#">'+target_list[i]+'</a></li>');
        GetTargetScriptContent(target_list[i]);
      }
      else{
            $("#tar_scripts").append('<li><a href="#">'+target_list[i]+'</a></li>');
      }
    }
}

function LoadRecordScriptNames(rec_list){
    $("#rec_scripts").empty();
    for(i=0;i<rec_list.length;i++){
      if (i==0){
        $("#rec_scripts").append('<li class="active"><a href="#">'+rec_list[i]+'</a></li>');
      }
      else{
          $("#rec_scripts").append('<li><a href="#">'+rec_list[i]+'</a></li>');
      }
    }
    $("#rec_scripts").hide();
}

function SetRecordButton(){
    if(mySpace.zest_recording=="True"){
      RecordOn();
    }
    else{
      RecordOff();
    }
}

function RecordOn(){
    $('#recordZest').attr('class','btn btn-danger');
    $('#recordZest').text('Stop Recording !');
}

function RecordOff(){
    $('#recordZest').attr('class','btn btn-primary');
    $('#recordZest').text('Record a Zest Script!');
}

function RecordToggle(){
    if (mySpace.zest_recording=="False"){
      $.getJSON(mySpace.zest_console_api_url+"?record=true");
      RecordOn();
      mySpace.zest_recording = true;
    }
    else{
      $.getJSON(mySpace.zest_console_api_url+"?record=false");
      RecordOff();
      mySpace.zest_recording = false;
    }
}

//get content of the active script
function GetTargetScriptContent(script){
    $.getJSON(mySpace.zest_console_api_url+"?record=false&script="+script,functio
      (obj){
          $("#script_content").text(obj.content);
          $('#script_content').css("height","500px");
    });
}

function GetRecordScriptContent(script){
    $.getJSON(mySpace.zest_console_api_url+"?record=true&script="+script,function(obj){
          $("#script_content").text(obj.content);
          $('#script_content').css("height","500px");
    });
}

$('.tree-toggle').click(function () {
  $(this).parent().children('ul.tree').toggle(200);
});

//sidebar click event delegation
$('#allscripts').on('click','a', function (e) {
    $('li').removeClass('active');
    var $parent = $(this).parent();
    if (!$parent.hasClass('active')) {
      $parent.addClass('active');
      var script = $(this).text();
      $p_par = $parent.parent();
      var script_t = $p_par.attr('id');
      if(script_t=="tar_scripts"){
        GetTargetScriptContent(script);
      }
      else if (script_t == "rec_scripts"){
        GetRecordScriptContent(script);
      }
    }
    e.preventDefault();
});

$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
  GetScriptNames();
  SetRecordButton();
 
});

</script>

{% end %}