#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
    i {
      color: #fff;
      margin: 0;
      position: relative;
      left: 16px;
      top: 13px;
      font-size: 19px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.9);
      i {
        color: #fff;
        top: 5px;
      }
    }
}
  
/* End of return to top at target page */

.heading {
  word-wrap: break-word;
}

.textCapitalize {
  text-transform: capitalize;
}

.panel-heading {
  padding: 0px;
}

.panel-button {
  margin-top: 23px;
}

.panel-title {
  padding: 15px;
}

.panel-label {
  text-align: center;
}

.rank-alert {
  margin-bottom: 0px;
}

.editor {
  display: none;
}