.scroll {
  opacity: 0.3;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;

  &:hover {
    opacity: 1;
  }
}

/* End of return to top at target page */

.heading {
  word-wrap: break-word;
}

.textCapitalize {
  text-transform: capitalize;
}

.panel-heading {
  padding: 0px;
}

.panel-button {
  margin-top: 23px;
}

.panel-title {
  padding: 15px;
}

.panel-label {
  text-align: center;
}

.rank-alert {
  margin-bottom: 0px;
}

.editor {
  display: none;
}

.heading:hover {
  color: #337ab7;
  text-decoration: underline;
}
