recursive-include owtf/data *
recursive-include owtf/plugins *
recursive-include owtf/scripts *
recursive-include owtf/webui *
recursive-include scripts/ *
include README.md
exclude 'node_modules' 'node_modules.*'
