recursive-include owtf/conf *
recursive-include owtf/dictionaries *
recursive-include owtf/plugins *
recursive-include owtf/scripts *
recursive-include owtf/tools *
recursive-include owtf/webui *
recursive-include owtf/interface/templates *
