* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #ececec;
}

::-webkit-scrollbar-thumb {
  background: #bbb9b9;
  border-radius: 1.5rem;
}

.activeNavLink {
  text-decoration: none !important;
  background-color: rgba(243, 239, 239, 0.164);
  color: #e0e0e0f3 !important;
}

.errorContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  text-align: center;
  align-items: center;
  margin: 5rem 0;
}

.errorContainer svg {
  min-height: 5rem;
  min-width: 5rem;
  color: #5e5d5d;
}

.errorContainer p {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  color: #303030;
  padding: 2rem 0;
}

.selectedTab {
  background-color: rgba(0, 0, 0, 0.158);
}

.inputRequiredError {
  font-size: 1.4rem;
  color: red;
  text-align: left;
  font-family: "Farro", sans-serif;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #363636;
  z-index: 10;
  box-shadow: 0px 15px 25px -4px rgba(24, 24, 48, 0.25);
  padding: 0 5rem;
  position: relative;
  min-height: 6.6rem;
}

.navigationBar__brandContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.navigationBar__brandContainer img {
  max-width: 4rem;
  max-height: 4rem;
  margin-left: 1rem;
  opacity: 0.8;
  position: relative;
  top: 0.4rem;
}

@media (max-width: 1200px) {
  .navigationBar__brandContainer img {
    max-width: 3rem;
    max-height: 3rem;
    top: 0.3rem;
    margin-left: 0.4rem;
  }
}

.navigationBar__brandContainer__link {
  font-family: "Bebas Neue", sans-serif;
  color: #0e910e;
  font-size: 3.2rem;
  font-weight: bold;
  padding-top: 0.3rem;
  letter-spacing: 0.1rem;
}

.navigationBar__brandContainer__link:link,
.navigationBar__brandContainer__link:hover,
.navigationBar__brandContainer__link:active,
.navigationBar__brandContainer__link:visited {
  color: #0e910e;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .navigationBar__brandContainer__link {
    font-size: 2.3rem;
  }
}

.navigationBar__navLinksContainer {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.navigationBar__navLinksContainer__linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navigationBar__navLinksContainer__linksContainer__link {
  width: 100%;
  font-family: "Heebo", sans-serif;
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
  color: #e0e0e0f3;
  text-align: center;
  cursor: pointer;
  padding: 2rem 1.2rem;
  font-weight: 400;
  margin: 0 0.3rem;
}

@media (max-width: 1200px) {
  .navigationBar__navLinksContainer__linksContainer__link {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .navigationBar__navLinksContainer__linksContainer__link {
    padding: 2rem 0.3rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__linksContainer__link {
    padding: 1.8rem 1.9rem;
    font-size: 1.9rem;
  }
}

.navigationBar__navLinksContainer__linksContainer__link:hover,
.navigationBar__navLinksContainer__linksContainer__link:focus,
.navigationBar__navLinksContainer__linksContainer__link:active,
.navigationBar__navLinksContainer__linksContainer__link:visited {
  text-decoration: none !important;
  background-color: rgba(243, 239, 239, 0.164);
  color: #e0e0e0f3;
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__linksContainer__link {
    text-align: left;
  }
}

.navigationBar__navLinksContainer__linksContainer__linkDropDownContainer {
  margin: 0 1rem;
  position: relative;
}

.navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__linkText {
  display: flex;
  justify-content: space-between;
  color: #e0e0e0f3;
  font-size: 1.7rem;
  align-items: center;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__linkText
  span {
  margin-left: 0.5rem;
  position: relative;
  top: 0.4rem;
}

.navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__linkText
  p {
  font-family: "Heebo", sans-serif;
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
  color: #e0e0e0f3;
  text-align: center;
  cursor: pointer;
  padding: 2rem 1.2rem;
  font-weight: 400;
  margin: 0 0.3rem;
  margin-bottom: 0;
  padding: 2rem 0.7rem;
}

@media (max-width: 1200px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__linkText
    p {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__linkText
    p {
    padding: 2rem 0.3rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__linkText
    p {
    padding: 1.8rem 1.9rem;
    font-size: 1.9rem;
  }
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__linkText
    p {
    padding: 2rem 0.3rem;
  }
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__linkText {
    padding: 0 1.5rem;
  }
}

.navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__droppedLinksContainer {
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.39);
  border: 1px solid rgba(0, 0, 0, 0.148);
  border-radius: 0 0 0.6rem 0.6rem;
  overflow: hidden;
  z-index: 9;
}

.navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__droppedLinksContainer__link
  a {
  color: #302f2f;
  font-size: 1.7rem;
  padding: 1rem 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__droppedLinksContainer__link
    a {
    text-align: left;
    padding: 1rem 2.2rem;
  }
}

.navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__droppedLinksContainer__link
  a:hover {
  color: #302f2f;
  text-decoration: none;
  background-color: #e6e6e6;
}

@media (max-width: 1200px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__droppedLinksContainer__link
    a {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__droppedLinksContainer__link
    a {
    color: #e0e0e0f3;
    background-color: transparent;
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer__droppedLinksContainer {
    background-color: transparent;
  }
}

@media (max-width: 992px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer {
    margin: 0 0.45rem;
  }
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__linksContainer__linkDropDownContainer {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__linksContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.navigationBar__navLinksContainer__closeButton {
  position: absolute;
  top: 1.6rem;
  right: 2.7rem;
  height: 4rem;
  width: 4rem;
  display: none;
  transition: all 0.3s ease-in;
}

.navigationBar__navLinksContainer__closeButton svg {
  height: 100%;
  width: 100%;
  color: #e0e0e0f3;
}

.navigationBar__navLinksContainer__closeButton:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer__closeButton {
    display: block;
  }
}

@media (max-width: 1200px) {
  .navigationBar__navLinksContainer {
    margin: 0 1rem;
  }
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #363636;
    top: 0;
    left: 0;
    margin: 0;
    padding: 2rem 4rem;
    padding-top: 7rem;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
  }
}

@media (max-width: 768px) {
  .navigationBar__navLinksContainer {
    justify-content: flex-start;
  }
}

.navigationBar__menuButton {
  height: 3.5rem;
  width: 3.5rem;
  margin-top: 1.5rem;
  display: none;
  transition: all 0.3s ease-in;
}

.navigationBar__menuButton svg {
  height: 100%;
  width: 100%;
  color: #e0e0e0f3;
}

.navigationBar__menuButton:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navigationBar__menuButton {
    display: block;
  }
}

@media (max-width: 1200px) {
  .navigationBar {
    padding: 0 2.5rem;
  }
}

@media (max-width: 768px) {
  .navigationBar {
    padding: 0 2rem;
  }
}

.navMenuSlideIn {
  transform: translateX(0);
}

.configurationTabsContentContainer {
  box-shadow: 10px 10px 30px -4px rgba(30, 30, 60, 0.092);
  border-radius: 0.5rem;
  background-color: #fdfcfc;
  border: 1px solid rgba(0, 0, 0, 0.045);
  margin-top: 2.5rem;
}

.configurationTabsContentContainer__tabContainer {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;
}

.configurationTabsContentContainer__tabContainer label {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  padding: 0.8rem 2rem;
  color: #4e4e4e;
}

@media (max-width: 1200px) {
  .configurationTabsContentContainer__tabContainer label {
    font-size: 1.3rem;
  }
}

.configurationTabsContentContainer__tabContainer input {
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid rgba(80, 80, 80, 0.185);
  border-radius: 0.8rem;
  padding: 1rem 1.5rem;
  margin: 0.5rem 2rem;
  font-size: 1.5rem;
  outline: none;
}

@media (max-width: 1200px) {
  .configurationTabsContentContainer__tabContainer input {
    font-size: 1.3rem;
  }
}

.configurationTabsNavContainer {
  margin: 4rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: 10px 10px 30px -4px rgba(30, 30, 60, 0.092);
  border-radius: 0.5rem;
  background-color: #fdfcfc;
  border: 1px solid rgba(0, 0, 0, 0.045);
  padding: 3rem 0;
}

.configurationTabsNavContainer span {
  font-size: 1.7rem;
  font-family: "Farro", sans-serif;
  padding: 1.5rem 1.8rem;
  margin-right: 3rem;
}

@media (max-width: 1200px) {
  .configurationTabsNavContainer span {
    font-size: 1.3rem;
    padding: 1.5rem 1.3rem;
    margin-right: 0.5rem;
  }
}

.configurationTabsNavContainer span:hover {
  cursor: pointer;
  background-color: rgba(117, 117, 117, 0.26);
}

@media (max-width: 1200px) {
  .configurationTabsNavContainer {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .configurationTabsNavContainer {
    flex-direction: column;
    margin: 1.5rem 0.5rem;
  }
}

@media (max-width: 768px) {
  .configurationTabsNavContainer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.welcomePageContainer {
  height: 100vh;
  display: flow-root;
}

.welcomePageContainer__infoLogoContainer {
  display: flex;
  justify-content: center;
  color: #e0e0e0f3;
  background-color: #57b6fa;
  height: 80%;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.welcomePageContainer__infoLogoContainer__info {
  background-color: transparent;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.welcomePageContainer__infoLogoContainer__info p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.2rem;
  margin-top: 2rem;
  color: #fdfcfc;
}

@media (max-width: 1200px) {
  .welcomePageContainer__infoLogoContainer__info p {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .welcomePageContainer__infoLogoContainer__info p {
    margin-top: 0.5rem;
  }
}

@media (max-width: 576px) {
  .welcomePageContainer__infoLogoContainer__info p {
    font-size: 1.5rem;
    text-align: center;
  }
}

.welcomePageContainer__infoLogoContainer__info h1 {
  font-family: "Farro", sans-serif;
  font-size: 6rem;
  font-weight: bold;
  color: #fdfcfc;
}

@media (max-width: 1200px) {
  .welcomePageContainer__infoLogoContainer__info h1 {
    font-size: 4rem;
  }
}

@media (max-width: 576px) {
  .welcomePageContainer__infoLogoContainer__info h1 {
    font-size: 2.8rem;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .welcomePageContainer__infoLogoContainer__info {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .welcomePageContainer__infoLogoContainer__info {
    text-align: center;
    width: 60%;
    margin: 34rem auto;
  }
}

@media (max-width: 576px) {
  .welcomePageContainer__infoLogoContainer__info {
    width: 80%;
    margin: 24rem auto;
  }
}

.welcomePageContainer__infoLogoContainer__logo {
  background-color: transparent;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.welcomePageContainer__infoLogoContainer__logo__container {
  text-align: center;
}

.welcomePageContainer__infoLogoContainer__logo__container img {
  border-radius: 45%;
  opacity: 0.5;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .welcomePageContainer__infoLogoContainer__logo__container img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .welcomePageContainer__infoLogoContainer__logo__container img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .welcomePageContainer__infoLogoContainer__logo__container {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .welcomePageContainer__infoLogoContainer__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 10rem auto;
  }
}

@media (max-width: 576px) {
  .welcomePageContainer__infoLogoContainer__logo {
    margin: 10rem auto;
    height: 18.5rem;
    width: 18.5rem;
  }
}

.welcomePageContainer__infoLogoContainer__loginButton {
  margin: 2rem 0;
  padding: 1rem 0;
}

.welcomePageContainer__infoLogoContainer__loginButton a {
  box-shadow: 0px 15px 30px -4px rgba(30, 30, 60, 0.25);
  border-radius: 9px;
  font-size: 600;
  font-family: "OpenSans", sans-serif;
  color: #666666;
  font-size: 20px;
  background: #f0f0f0;
  padding: 14px 27px 15px 28px;
  text-decoration: none;
}

.welcomePageContainer__infoLogoContainer__loginButton a:hover {
  background: #e6e6e6;
  text-decoration: none;
}

@media (max-width: 768px) {
  .welcomePageContainer__infoLogoContainer__loginButton a {
    font-size: 16px;
    padding: 12px 23px;
  }
}

@media (max-width: 992px) {
  .welcomePageContainer__infoLogoContainer {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .welcomePageContainer__infoLogoContainer {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .welcomePageContainer__infoLogoContainer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 100%;
  }
}

.loginPageContainer {
  text-align: center;
}

.loginPageContainer__loginComponentContainer {
  display: inline-block;
  min-width: 50rem;
  margin: 5rem auto;
  padding: 2rem 5rem;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.164);
  border-radius: 0.9rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.045);
}

@media (max-width: 576px) {
  .loginPageContainer__loginComponentContainer {
    min-width: 100%;
    padding: 2rem 2rem;
    margin: 1rem auto;
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 360px) {
  .loginPageContainer__loginComponentContainer {
    padding: 1rem 2rem;
  }
}

.loginPageContainer__loginComponentContainer__brandLogoContainer img {
  height: 6rem;
  width: 6rem;
  opacity: 0.75;
}

.loginPageContainer__loginComponentContainer__heading {
  font-size: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 2.5rem 0;
  margin-bottom: 6rem;
  font-weight: bold;
  color: #4e4e4e;
}

@media (max-width: 992px) {
  .loginPageContainer__loginComponentContainer__heading {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .loginPageContainer__loginComponentContainer__heading {
    font-size: 2rem;
    margin-bottom: 4.5rem;
  }
}

@media (max-width: 360px) {
  .loginPageContainer__loginComponentContainer__heading {
    margin: 2rem 0;
    margin-bottom: 4rem;
    padding: 1rem 1rem;
  }
}

.loginPageContainer__loginComponentContainer__userNameInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 4rem 0;
}

.loginPageContainer__loginComponentContainer__userNameInputContainer label {
  align-items: flex-start;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #4e4e4e;
}

.loginPageContainer__loginComponentContainer__userNameInputContainer input {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .loginPageContainer__loginComponentContainer__userNameInputContainer {
    margin: 2.5rem 0;
  }
}

.loginPageContainer__loginComponentContainer__passwordInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 4rem 0;
  position: relative;
}

.loginPageContainer__loginComponentContainer__passwordInputContainer label {
  align-items: flex-start;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #4e4e4e;
}

.loginPageContainer__loginComponentContainer__passwordInputContainer input {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .loginPageContainer__loginComponentContainer__passwordInputContainer {
    margin: 2.5rem 0;
  }
}

.loginPageContainer__loginComponentContainer__passwordInputContainer__passwordViewTogglerContainer {
  display: inline-block;
  position: absolute;
  right: 7.5%;
  transform: translateY(-50%);
  top: 63%;
  height: 2rem;
  width: 2rem;
}

.loginPageContainer__loginComponentContainer__passwordInputContainer__passwordViewTogglerContainer:hover {
  cursor: pointer;
}

.loginPageContainer__loginComponentContainer__passwordInputContainer__passwordViewTogglerContainer
  svg {
  height: 100%;
  width: 100%;
}

.loginPageContainer__loginComponentContainer__submitButton {
  margin: 1rem 0;
  background: #2faff8;
  background-image: linear-gradient(to bottom, #2faff8, #0d96e6);
  border-radius: 0.5rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: #f0f0f0;
  font-size: 1.6rem;
  padding: 1.7rem 0 1.7rem 0;
  text-decoration: none;
  border: none;
  box-shadow: 0 1.5rem 3.2rem -1.3rem rgba(30, 30, 60, 0.25);
  width: 100%;
}

.loginPageContainer__loginComponentContainer__submitButton:disabled {
  background-image: linear-gradient(to bottom, grey, grey);
}

.loginPageContainer__loginComponentContainer__submitButton svg {
  position: relative;
  top: 0.3rem;
  height: 2rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.loginPageContainer__loginComponentContainer__forgotPasswordLinkContainer {
  margin: 2rem auto;
  display: flex;
  justify-content: flex-start;
}

.loginPageContainer__loginComponentContainer__forgotPasswordLinkContainer a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
}

.loginPageContainer__loginComponentContainer__signupLinkContainer {
  margin: 2rem auto;
  font-family: "Heebo", sans-serif;
  font-size: 1.6rem;
}

.loginPageContainer__loginComponentContainer__signupLinkContainer a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
}

.signupPageContainer {
  text-align: center;
}

.signupPageContainer__signupComponentContainer {
  display: inline-block;
  min-width: 50rem;
  margin: 3rem auto;
  padding: 2rem 5rem;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.164);
  border-radius: 0.9rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.045);
}

@media (max-width: 576px) {
  .signupPageContainer__signupComponentContainer {
    min-width: 100%;
    padding: 2rem 2rem;
    margin: 1rem auto;
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 360px) {
  .signupPageContainer__signupComponentContainer {
    padding: 1.5rem 2rem;
  }
}

.signupPageContainer__signupComponentContainer__brandLogoContainer img {
  height: 6rem;
  width: 6rem;
  opacity: 0.75;
}

.signupPageContainer__signupComponentContainer__heading {
  font-size: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 2.5rem 0;
  margin-bottom: 6rem;
  font-weight: bold;
  color: #4e4e4e;
}

@media (max-width: 992px) {
  .signupPageContainer__signupComponentContainer__heading {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .signupPageContainer__signupComponentContainer__heading {
    font-size: 2rem;
    margin-bottom: 4.5rem;
  }
}

@media (max-width: 360px) {
  .signupPageContainer__signupComponentContainer__heading {
    margin: 2rem 0;
    margin-bottom: 4rem;
    padding: 1rem 1rem;
  }
}

.signupPageContainer__signupComponentContainer__userNameInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2.5rem 0 0.5rem 0;
}

.signupPageContainer__signupComponentContainer__userNameInputContainer label {
  align-items: flex-start;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #4e4e4e;
}

.signupPageContainer__signupComponentContainer__userNameInputContainer input {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 1rem;
  margin: 0.6rem 0;
  font-size: 1.7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .signupPageContainer__signupComponentContainer__userNameInputContainer {
    margin: 1rem 0;
  }
}

.signupPageContainer__signupComponentContainer__emailInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2.5rem 0 0.5rem 0;
}

.signupPageContainer__signupComponentContainer__emailInputContainer label {
  align-items: flex-start;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #4e4e4e;
}

.signupPageContainer__signupComponentContainer__emailInputContainer input {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 1rem;
  margin: 0.6rem 0;
  font-size: 1.7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .signupPageContainer__signupComponentContainer__emailInputContainer {
    margin: 1rem 0;
  }
}

.signupPageContainer__signupComponentContainer__setPasswordInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2.5rem 0 0.5rem 0;
  position: relative;
}

.signupPageContainer__signupComponentContainer__setPasswordInputContainer
  label {
  align-items: flex-start;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #4e4e4e;
}

.signupPageContainer__signupComponentContainer__setPasswordInputContainer
  input {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 1rem;
  margin: 0.6rem 0;
  font-size: 1.7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .signupPageContainer__signupComponentContainer__setPasswordInputContainer {
    margin: 1rem 0;
  }
}

.signupPageContainer__signupComponentContainer__setPasswordInputContainer__passwordViewTogglerContainer {
  display: inline-block;
  position: absolute;
  right: 7.5%;
  transform: translateY(-50%);
  top: 63%;
  height: 2rem;
  width: 2rem;
}

.signupPageContainer__signupComponentContainer__setPasswordInputContainer__passwordViewTogglerContainer:hover {
  cursor: pointer;
}

.signupPageContainer__signupComponentContainer__setPasswordInputContainer__passwordViewTogglerContainer
  svg {
  height: 100%;
  width: 100%;
}

.signupPageContainer__signupComponentContainer__setPasswordInputContainer p {
  font-size: 1.4rem;
  color: #4e4e4e;
  margin-top: 0.5rem;
}

.signupPageContainer__signupComponentContainer__confirmPasswordInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2.5rem 0 0.5rem 0;
  position: relative;
}

.signupPageContainer__signupComponentContainer__confirmPasswordInputContainer
  label {
  align-items: flex-start;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #4e4e4e;
}

.signupPageContainer__signupComponentContainer__confirmPasswordInputContainer
  input {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 1rem;
  margin: 0.6rem 0;
  font-size: 1.7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .signupPageContainer__signupComponentContainer__confirmPasswordInputContainer {
    margin: 1rem 0;
  }
}

.signupPageContainer__signupComponentContainer__confirmPasswordInputContainer__passwordViewTogglerContainer {
  display: inline-block;
  position: absolute;
  right: 7.5%;
  transform: translateY(-50%);
  top: 63%;
  height: 2rem;
  width: 2rem;
}

.signupPageContainer__signupComponentContainer__confirmPasswordInputContainer__passwordViewTogglerContainer:hover {
  cursor: pointer;
}

.signupPageContainer__signupComponentContainer__confirmPasswordInputContainer__passwordViewTogglerContainer
  svg {
  height: 100%;
  width: 100%;
}

.signupPageContainer__signupComponentContainer__submitButton {
  margin: 1.5rem 0;
  background: #2faff8;
  background-image: linear-gradient(to bottom, #2faff8, #0d96e6);
  border-radius: 0.5rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: #f0f0f0;
  font-size: 1.6rem;
  padding: 1.7rem 0 1.7rem 0;
  text-decoration: none;
  border: none;
  box-shadow: 0 1.5rem 3.2rem -1.3rem rgba(30, 30, 60, 0.25);
  width: 100%;
}

.signupPageContainer__signupComponentContainer__submitButton:disabled {
  background-image: linear-gradient(to bottom, grey, grey);
}

.signupPageContainer__signupComponentContainer__submitButton svg {
  position: relative;
  top: 0.3rem;
  height: 2rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.signupPageContainer__signupComponentContainer__forgotPasswordLinkContainer {
  margin: 2rem auto;
  display: flex;
  justify-content: flex-start;
}

.signupPageContainer__signupComponentContainer__forgotPasswordLinkContainer a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
}

.signupPageContainer__signupComponentContainer__loginLinkContainer {
  margin: 2rem auto;
  font-family: "Heebo", sans-serif;
  font-size: 1.6rem;
}

.signupPageContainer__signupComponentContainer__loginLinkContainer a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
}

.forgotPasswordPageContainer {
  text-align: center;
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer {
  display: inline-block;
  min-width: 50rem;
  margin: 3.2rem auto;
  padding: 2rem 5rem;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.164);
  border-radius: 0.9rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.045);
}

@media (max-width: 576px) {
  .forgotPasswordPageContainer__forgotPasswordComponentContainer {
    min-width: 100%;
    padding: 2rem 2rem;
    margin: 1rem auto;
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 360px) {
  .forgotPasswordPageContainer__forgotPasswordComponentContainer {
    padding: 1rem 2rem;
  }
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__brandLogoContainer
  img {
  height: 6rem;
  width: 6rem;
  opacity: 0.75;
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__heading {
  font-size: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 2.5rem 0;
  margin-bottom: 6rem;
  font-weight: bold;
  color: #4e4e4e;
}

@media (max-width: 992px) {
  .forgotPasswordPageContainer__forgotPasswordComponentContainer__heading {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .forgotPasswordPageContainer__forgotPasswordComponentContainer__heading {
    font-size: 2rem;
    margin-bottom: 4.5rem;
  }
}

@media (max-width: 360px) {
  .forgotPasswordPageContainer__forgotPasswordComponentContainer__heading {
    margin: 2rem 0;
    margin-bottom: 4rem;
    padding: 1rem 1rem;
  }
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__info {
  font-size: 1.5rem;
  color: #4e4e4e;
  margin: 1rem 0;
  text-align: left;
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__userNameEmailInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2.5rem 0 0.5rem 0;
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__userNameEmailInputContainer
  label {
  align-items: flex-start;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #4e4e4e;
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__userNameEmailInputContainer
  input {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 1rem;
  margin: 0.6rem 0;
  font-size: 1.7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .forgotPasswordPageContainer__forgotPasswordComponentContainer__userNameEmailInputContainer {
    margin: 2.5rem 0;
  }
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__submitButton {
  margin: 1.5rem 0;
  background: #2faff8;
  background-image: linear-gradient(to bottom, #2faff8, #0d96e6);
  border-radius: 0.5rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: #f0f0f0;
  font-size: 1.6rem;
  padding: 1.7rem 0 1.7rem 0;
  text-decoration: none;
  border: none;
  box-shadow: 0 1.5rem 3.2rem -1.3rem rgba(30, 30, 60, 0.25);
  width: 100%;
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__submitButton:disabled {
  background-image: linear-gradient(to bottom, grey, grey);
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__submitButton
  svg {
  position: relative;
  top: 0.3rem;
  height: 2rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__goBackLinkContainer {
  margin: 2rem auto;
  font-family: "Heebo", sans-serif;
  font-size: 1.6rem;
}

.forgotPasswordPageContainer__forgotPasswordComponentContainer__goBackLinkContainer
  a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
}

.inputRequiredError {
  font-size: 1.4rem;
  color: red;
  text-align: left;
  font-family: "Farro", sans-serif;
}

.otpPageContainer {
  text-align: center;
}

.otpPageContainer__otpComponentContainer {
  display: inline-block;
  min-width: 50rem;
  margin: 3.2rem auto;
  padding: 2rem 5rem;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.164);
  border-radius: 0.9rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.045);
}

@media (max-width: 576px) {
  .otpPageContainer__otpComponentContainer {
    min-width: 100%;
    padding: 2rem 2rem;
    margin: 1rem auto;
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 360px) {
  .otpPageContainer__otpComponentContainer {
    padding: 1rem 2rem;
  }
}

.otpPageContainer__otpComponentContainer__brandLogoContainer img {
  height: 6rem;
  width: 6rem;
  opacity: 0.75;
}

.otpPageContainer__otpComponentContainer__heading {
  font-size: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 2.5rem 0 1.5rem 0;
  margin-bottom: 6rem;
  font-weight: bold;
  color: #4e4e4e;
}

@media (max-width: 992px) {
  .otpPageContainer__otpComponentContainer__heading {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .otpPageContainer__otpComponentContainer__heading {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 360px) {
  .otpPageContainer__otpComponentContainer__heading {
    margin: 2rem 0;
    margin-bottom: 2.5rem;
    padding: 1rem 1rem;
  }
}

.otpPageContainer__otpComponentContainer__info {
  font-size: 1.5rem;
  color: #4e4e4e;
  margin: 1rem 0;
  text-align: left;
}

@media (max-width: 360px) {
  .otpPageContainer__otpComponentContainer__info {
    text-align: center;
  }
}

.otpPageContainer__otpComponentContainer__otpInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2.5rem 0 0.5rem 0;
}

.otpPageContainer__otpComponentContainer__otpInputContainer label {
  align-items: flex-start;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #4e4e4e;
}

.otpPageContainer__otpComponentContainer__otpInputContainer input {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 1rem;
  margin: 0.6rem 0;
  font-size: 1.7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .otpPageContainer__otpComponentContainer__otpInputContainer {
    margin: 2.5rem 0;
  }
}

.otpPageContainer__otpComponentContainer__submitButton {
  margin: 1.5rem 0;
  background: #2faff8;
  background-image: linear-gradient(to bottom, #2faff8, #0d96e6);
  border-radius: 0.5rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: #f0f0f0;
  font-size: 1.6rem;
  padding: 1.7rem 0 1.7rem 0;
  text-decoration: none;
  border: none;
  box-shadow: 0 1.5rem 3.2rem -1.3rem rgba(30, 30, 60, 0.25);
  width: 100%;
}

.otpPageContainer__otpComponentContainer__submitButton:disabled {
  background-image: linear-gradient(to bottom, grey, grey);
}

.otpPageContainer__otpComponentContainer__submitButton svg {
  position: relative;
  top: 0.3rem;
  height: 2rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.otpPageContainer__otpComponentContainer__linksContainer {
  display: flex;
  justify-content: space-between;
}

.otpPageContainer__otpComponentContainer__linksContainer p {
  margin: 2rem 0;
  font-family: "Heebo", sans-serif;
  font-size: 1.6rem;
}

@media (max-width: 360px) {
  .otpPageContainer__otpComponentContainer__linksContainer p {
    margin: 1rem 0;
  }
}

.otpPageContainer__otpComponentContainer__linksContainer p a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  text-decoration: underline;
}

@media (max-width: 360px) {
  .otpPageContainer__otpComponentContainer__linksContainer {
    flex-direction: column;
    justify-content: space-between;
  }
}

.resetPasswordPageContainer {
  text-align: center;
}

.resetPasswordPageContainer__resetPasswordComponentContainer {
  display: inline-block;
  min-width: 50rem;
  margin: 3rem auto;
  padding: 2rem 5rem;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.164);
  border-radius: 0.9rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.045);
}

@media (max-width: 576px) {
  .resetPasswordPageContainer__resetPasswordComponentContainer {
    min-width: 100%;
    padding: 2rem 2rem;
    margin: 1rem auto;
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 360px) {
  .resetPasswordPageContainer__resetPasswordComponentContainer {
    padding: 1rem 2rem;
  }
}

.resetPasswordPageContainer__resetPasswordComponentContainer__brandLogoContainer
  img {
  height: 6rem;
  width: 6rem;
  opacity: 0.75;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__heading {
  font-size: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 2.5rem 0;
  margin-bottom: 6rem;
  font-weight: bold;
  color: #4e4e4e;
}

@media (max-width: 992px) {
  .resetPasswordPageContainer__resetPasswordComponentContainer__heading {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .resetPasswordPageContainer__resetPasswordComponentContainer__heading {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 360px) {
  .resetPasswordPageContainer__resetPasswordComponentContainer__heading {
    margin: 2rem 0;
    margin-bottom: 2.5rem;
    padding: 1rem 1rem;
  }
}

.resetPasswordPageContainer__resetPasswordComponentContainer__info {
  font-size: 1.5rem;
  color: #4e4e4e;
  margin: 1rem 0;
  text-align: left;
}

@media (max-width: 360px) {
  .resetPasswordPageContainer__resetPasswordComponentContainer__info {
    text-align: center;
  }
}

.resetPasswordPageContainer__resetPasswordComponentContainer__setPasswordInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2.5rem 0 0.5rem 0;
  position: relative;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__setPasswordInputContainer
  label {
  align-items: flex-start;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #4e4e4e;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__setPasswordInputContainer
  input {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 1rem;
  margin: 0.6rem 0;
  font-size: 1.7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .resetPasswordPageContainer__resetPasswordComponentContainer__setPasswordInputContainer {
    margin: 2.5rem 0;
  }
}

.resetPasswordPageContainer__resetPasswordComponentContainer__setPasswordInputContainer__passwordViewTogglerContainer {
  display: inline-block;
  position: absolute;
  right: 7.5%;
  transform: translateY(-50%);
  top: 63%;
  height: 2rem;
  width: 2rem;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__setPasswordInputContainer__passwordViewTogglerContainer:hover {
  cursor: pointer;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__setPasswordInputContainer__passwordViewTogglerContainer
  svg {
  height: 100%;
  width: 100%;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__setPasswordInputContainer
  p {
  font-size: 1.4rem;
  color: #4e4e4e;
  margin-top: 0.5rem;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__confirmPasswordInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2.5rem 0 0.5rem 0;
  position: relative;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__confirmPasswordInputContainer
  label {
  align-items: flex-start;
  font-size: 1.7rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #4e4e4e;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__confirmPasswordInputContainer
  input {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem 1rem;
  margin: 0.6rem 0;
  font-size: 1.7rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .resetPasswordPageContainer__resetPasswordComponentContainer__confirmPasswordInputContainer {
    margin: 2.5rem 0;
  }
}

.resetPasswordPageContainer__resetPasswordComponentContainer__confirmPasswordInputContainer__passwordViewTogglerContainer {
  display: inline-block;
  position: absolute;
  right: 7.5%;
  transform: translateY(-50%);
  top: 63%;
  height: 2rem;
  width: 2rem;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__confirmPasswordInputContainer__passwordViewTogglerContainer:hover {
  cursor: pointer;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__confirmPasswordInputContainer__passwordViewTogglerContainer
  svg {
  height: 100%;
  width: 100%;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__submitButton {
  margin: 1.5rem 0;
  background: #2faff8;
  background-image: linear-gradient(to bottom, #2faff8, #0d96e6);
  border-radius: 0.5rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: #f0f0f0;
  font-size: 1.6rem;
  padding: 1.7rem 0 1.7rem 0;
  text-decoration: none;
  border: none;
  box-shadow: 0 1.5rem 3.2rem -1.3rem rgba(30, 30, 60, 0.25);
  width: 100%;
}

.resetPasswordPageContainer__resetPasswordComponentContainer__submitButton:disabled {
  background-image: linear-gradient(to bottom, grey, grey);
}

.resetPasswordPageContainer__resetPasswordComponentContainer__submitButton svg {
  position: relative;
  top: 0.3rem;
  height: 2rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  margin: 4rem 2rem;
  padding: 2rem 2rem;
}

@media (max-width: 1200px) {
  .settingsContainer {
    padding: 2rem 0;
  }
}

@media (max-width: 576px) {
  .settingsContainer {
    margin: 2rem 0.5rem;
  }
}

.settingsContainer__headingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settingsContainer__headingContainer h2 {
  font-family: "Farro", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #4e4e4e;
  margin: 0 0;
  padding: 1.5rem 1.8rem;
}

@media (max-width: 992px) {
  .settingsContainer__headingContainer h2 {
    padding: 1.2rem 0.7rem;
  }
}

@media (max-width: 768px) {
  .settingsContainer__headingContainer h2 {
    font-size: 2.2rem;
    padding: 1rem 1rem;
  }
}

.settingsContainer__headingContainer button {
  margin: 0 1rem;
  background: #2faff8;
  background-image: linear-gradient(to bottom, #2faff8, #0d96e6);
  border-radius: 0.8rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: #f0f0f0;
  font-size: 1.5rem;
  padding: 1rem 0.7rem 1rem 0.7rem;
  text-decoration: none;
  border: none;
  box-shadow: 0 1.5rem 3.2rem -1.3rem rgba(30, 30, 60, 0.25);
  width: 20rem;
}

.settingsContainer__headingContainer button:disabled {
  background-image: linear-gradient(to bottom, grey, grey);
}

.settingsContainer__headingContainer button svg {
  position: relative;
  top: 0.3rem;
  height: 2rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 1200px) {
  .settingsContainer__headingContainer button {
    margin: 0 1rem;
    background: #2faff8;
    background-image: linear-gradient(to bottom, #2faff8, #0d96e6);
    border-radius: 0.8rem;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    letter-spacing: 0.03rem;
    color: #f0f0f0;
    font-size: 1.2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
    border: none;
    box-shadow: 0 1.5rem 3.2rem -1.3rem rgba(30, 30, 60, 0.25);
    width: 15rem;
  }
  .settingsContainer__headingContainer button:disabled {
    background-image: linear-gradient(to bottom, grey, grey);
  }
  .settingsContainer__headingContainer button svg {
    position: relative;
    top: 0.3rem;
    height: 2rem;
    width: 2.5rem;
    margin-right: 0.5rem;
  }
}

.helpPageContainer {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 5rem;
}

.helpPageContainer__exploitationContainer {
  display: inline-block;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.096);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fdfcfc;
  padding: 0 0 2rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.045);
  transition: all 0.3s;
}

.helpPageContainer__exploitationContainer:hover {
  transform: scale(1.02);
}

@media (max-width: 576px) {
  .helpPageContainer__exploitationContainer {
    font-size: 1.8rem;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    padding: 0 0 1rem 0.5rem;
  }
}

.helpPageContainer__exploitationContainer__headingContainer {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  margin-top: 0;
  padding: 1.5rem 1rem;
  font-family: "Farro", sans-serif;
  color: #5e5d5d;
}

.helpPageContainer__exploitationContainer__headingContainer h2 {
  margin: 0 1rem;
  font-size: 2.5rem;
  align-items: center;
  padding-top: 0.5rem;
}

@media (max-width: 992px) {
  .helpPageContainer__exploitationContainer__headingContainer h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__exploitationContainer__headingContainer h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__exploitationContainer__headingContainer h2 {
    font-size: 1.5rem;
  }
}

.helpPageContainer__exploitationContainer__headingContainer span svg {
  height: 3.2rem;
  width: 3.2rem;
}

@media (max-width: 576px) {
  .helpPageContainer__exploitationContainer__headingContainer span svg {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__exploitationContainer__headingContainer span svg {
    height: 2.8rem;
    width: 2.8rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__exploitationContainer__headingContainer {
    padding: 0 1rem;
  }
}

.helpPageContainer__exploitationContainer__linksContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 5rem;
}

.helpPageContainer__exploitationContainer__linksContainer ul li {
  list-style: circle;
  margin: 0.5rem 0;
  color: rgba(0, 0, 0, 0.267);
}

.helpPageContainer__exploitationContainer__linksContainer ul li a {
  display: inline-block;
  font-size: 1.9rem;
}

@media (max-width: 992px) {
  .helpPageContainer__exploitationContainer__linksContainer ul li a {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__exploitationContainer__linksContainer ul li a {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__exploitationContainer__linksContainer ul li a {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .helpPageContainer__exploitationContainer__linksContainer ul li {
    list-style: none;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .helpPageContainer__exploitationContainer__linksContainer ul {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__exploitationContainer__linksContainer ul {
    font-size: 2.7rem;
  }
}

.helpPageContainer__methodologyContainer {
  display: inline-block;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.096);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fdfcfc;
  padding: 0 0 2rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.045);
  transition: all 0.3s;
}

.helpPageContainer__methodologyContainer:hover {
  transform: scale(1.02);
}

@media (max-width: 576px) {
  .helpPageContainer__methodologyContainer {
    font-size: 1.8rem;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    padding: 0 0 1rem 0.5rem;
  }
}

.helpPageContainer__methodologyContainer__headingContainer {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  margin-top: 0;
  padding: 1.5rem 1rem;
  font-family: "Farro", sans-serif;
  color: #5e5d5d;
}

.helpPageContainer__methodologyContainer__headingContainer h2 {
  margin: 0 1rem;
  font-size: 2.5rem;
  align-items: center;
  padding-top: 0.5rem;
}

@media (max-width: 992px) {
  .helpPageContainer__methodologyContainer__headingContainer h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__methodologyContainer__headingContainer h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__methodologyContainer__headingContainer h2 {
    font-size: 1.5rem;
  }
}

.helpPageContainer__methodologyContainer__headingContainer span svg {
  height: 3.2rem;
  width: 3.2rem;
}

@media (max-width: 576px) {
  .helpPageContainer__methodologyContainer__headingContainer span svg {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__methodologyContainer__headingContainer span svg {
    height: 2.8rem;
    width: 2.8rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__methodologyContainer__headingContainer {
    padding: 0 1rem;
  }
}

.helpPageContainer__methodologyContainer__linksContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 5rem;
}

.helpPageContainer__methodologyContainer__linksContainer ul li {
  list-style: circle;
  margin: 0.5rem 0;
  color: rgba(0, 0, 0, 0.267);
}

.helpPageContainer__methodologyContainer__linksContainer ul li a {
  display: inline-block;
  font-size: 1.9rem;
}

@media (max-width: 992px) {
  .helpPageContainer__methodologyContainer__linksContainer ul li a {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__methodologyContainer__linksContainer ul li a {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__methodologyContainer__linksContainer ul li a {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .helpPageContainer__methodologyContainer__linksContainer ul li {
    list-style: none;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .helpPageContainer__methodologyContainer__linksContainer ul {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__methodologyContainer__linksContainer ul {
    font-size: 2.7rem;
  }
}

.helpPageContainer__calculatorsContainer {
  display: inline-block;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.096);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fdfcfc;
  padding: 0 0 2rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.045);
  transition: all 0.3s;
}

.helpPageContainer__calculatorsContainer:hover {
  transform: scale(1.02);
}

@media (max-width: 576px) {
  .helpPageContainer__calculatorsContainer {
    font-size: 1.8rem;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    padding: 0 0 1rem 0.5rem;
  }
}

.helpPageContainer__calculatorsContainer__headingContainer {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  margin-top: 0;
  padding: 1.5rem 1rem;
  font-family: "Farro", sans-serif;
  color: #5e5d5d;
}

.helpPageContainer__calculatorsContainer__headingContainer h2 {
  margin: 0 1rem;
  font-size: 2.5rem;
  align-items: center;
  padding-top: 0.5rem;
}

@media (max-width: 992px) {
  .helpPageContainer__calculatorsContainer__headingContainer h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__calculatorsContainer__headingContainer h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__calculatorsContainer__headingContainer h2 {
    font-size: 1.5rem;
  }
}

.helpPageContainer__calculatorsContainer__headingContainer span svg {
  height: 3.2rem;
  width: 3.2rem;
}

@media (max-width: 576px) {
  .helpPageContainer__calculatorsContainer__headingContainer span svg {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__calculatorsContainer__headingContainer span svg {
    height: 2.8rem;
    width: 2.8rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__calculatorsContainer__headingContainer {
    padding: 0 1rem;
  }
}

.helpPageContainer__calculatorsContainer__linksContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 5rem;
}

.helpPageContainer__calculatorsContainer__linksContainer ul li {
  list-style: circle;
  margin: 0.5rem 0;
  color: rgba(0, 0, 0, 0.267);
}

.helpPageContainer__calculatorsContainer__linksContainer ul li a {
  display: inline-block;
  font-size: 1.9rem;
}

@media (max-width: 992px) {
  .helpPageContainer__calculatorsContainer__linksContainer ul li a {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__calculatorsContainer__linksContainer ul li a {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__calculatorsContainer__linksContainer ul li a {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .helpPageContainer__calculatorsContainer__linksContainer ul li {
    list-style: none;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .helpPageContainer__calculatorsContainer__linksContainer ul {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__calculatorsContainer__linksContainer ul {
    font-size: 2.7rem;
  }
}

.helpPageContainer__testLearnContainer {
  display: inline-block;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.096);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fdfcfc;
  padding: 0 0 2rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.045);
  transition: all 0.3s;
}

.helpPageContainer__testLearnContainer:hover {
  transform: scale(1.02);
}

@media (max-width: 576px) {
  .helpPageContainer__testLearnContainer {
    font-size: 1.8rem;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    padding: 0 0 1rem 0.5rem;
  }
}

.helpPageContainer__testLearnContainer__headingContainer {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  margin-top: 0;
  padding: 1.5rem 1rem;
  font-family: "Farro", sans-serif;
  color: #5e5d5d;
}

.helpPageContainer__testLearnContainer__headingContainer h2 {
  margin: 0 1rem;
  font-size: 2.5rem;
  align-items: center;
  padding-top: 0.5rem;
}

@media (max-width: 992px) {
  .helpPageContainer__testLearnContainer__headingContainer h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__testLearnContainer__headingContainer h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__testLearnContainer__headingContainer h2 {
    font-size: 1.5rem;
  }
}

.helpPageContainer__testLearnContainer__headingContainer span svg {
  height: 3.2rem;
  width: 3.2rem;
}

@media (max-width: 576px) {
  .helpPageContainer__testLearnContainer__headingContainer span svg {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__testLearnContainer__headingContainer span svg {
    height: 2.8rem;
    width: 2.8rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__testLearnContainer__headingContainer {
    padding: 0 1rem;
  }
}

.helpPageContainer__testLearnContainer__linksContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 5rem;
}

.helpPageContainer__testLearnContainer__linksContainer ul li {
  list-style: circle;
  margin: 0.5rem 0;
  color: rgba(0, 0, 0, 0.267);
}

.helpPageContainer__testLearnContainer__linksContainer ul li a {
  display: inline-block;
  font-size: 1.9rem;
}

@media (max-width: 992px) {
  .helpPageContainer__testLearnContainer__linksContainer ul li a {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__testLearnContainer__linksContainer ul li a {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__testLearnContainer__linksContainer ul li a {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .helpPageContainer__testLearnContainer__linksContainer ul li {
    list-style: none;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .helpPageContainer__testLearnContainer__linksContainer ul {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__testLearnContainer__linksContainer ul {
    font-size: 2.7rem;
  }
}

.helpPageContainer__helpLinksContainer {
  display: inline-block;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.096);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fdfcfc;
  padding: 0 0 2rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.045);
  transition: all 0.3s;
}

.helpPageContainer__helpLinksContainer:hover {
  transform: scale(1.02);
}

@media (max-width: 576px) {
  .helpPageContainer__helpLinksContainer {
    font-size: 1.8rem;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    padding: 0 0 1rem 0.5rem;
  }
}

.helpPageContainer__helpLinksContainer__headingContainer {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  margin-top: 0;
  padding: 1.5rem 1rem;
  font-family: "Farro", sans-serif;
  color: #5e5d5d;
}

.helpPageContainer__helpLinksContainer__headingContainer h2 {
  margin: 0 1rem;
  font-size: 2.5rem;
  align-items: center;
  padding-top: 0.5rem;
}

@media (max-width: 992px) {
  .helpPageContainer__helpLinksContainer__headingContainer h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__helpLinksContainer__headingContainer h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__helpLinksContainer__headingContainer h2 {
    font-size: 1.5rem;
  }
}

.helpPageContainer__helpLinksContainer__headingContainer span svg {
  height: 3.2rem;
  width: 3.2rem;
}

@media (max-width: 576px) {
  .helpPageContainer__helpLinksContainer__headingContainer span svg {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__helpLinksContainer__headingContainer span svg {
    height: 2.8rem;
    width: 2.8rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__helpLinksContainer__headingContainer {
    padding: 0 1rem;
  }
}

.helpPageContainer__helpLinksContainer__linksWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.helpPageContainer__helpLinksContainer__linksWrapper__linksContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 5rem;
}

.helpPageContainer__helpLinksContainer__linksWrapper__linksContainer ul li {
  list-style: circle;
  margin: 0.5rem 0;
  color: rgba(0, 0, 0, 0.267);
}

.helpPageContainer__helpLinksContainer__linksWrapper__linksContainer ul li a {
  display: inline-block;
  font-size: 1.9rem;
}

@media (max-width: 992px) {
  .helpPageContainer__helpLinksContainer__linksWrapper__linksContainer ul li a {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__helpLinksContainer__linksWrapper__linksContainer ul li a {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .helpPageContainer__helpLinksContainer__linksWrapper__linksContainer ul li a {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .helpPageContainer__helpLinksContainer__linksWrapper__linksContainer ul li {
    list-style: none;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .helpPageContainer__helpLinksContainer__linksWrapper__linksContainer ul {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer__helpLinksContainer__linksWrapper__linksContainer ul {
    font-size: 2.7rem;
  }
}

@media (max-width: 1200px) {
  .helpPageContainer__helpLinksContainer__linksWrapper {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .helpPageContainer {
    padding: 3rem 2rem;
    row-gap: 2.5rem;
    column-gap: 2rem;
  }
}

@media (max-width: 576px) {
  .helpPageContainer {
    padding: 3rem 0;
    grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */
