<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      #logo {
      padding-top: 10px;
      }
    </style>
<title>OWTF PnH Configuration</title>
</head>
<body>
    <div class="container">
        <div class="row-fluid">
            <div class="col-lg-4"></div>
            <a href="http://owtf.org" target="__blank__">
                <img src="https://www.owasp.org/images/0/02/OWTFLogoSmall.png" class="img-responsive" id="logo"/>
            </a>
        </div>
        <h1 class="text-center">Plug-n-Hack Browser configuration</h1>
        <div class="row-fluid">
                <p>
                    OWASP OWTF is a project that aims to make security assessments as efficient as possible.
                    Some of the ways in which this is achieved are: 
                    <ul>
                        <li>Separating the tests that require no permission from the ones that require permission (i.e. active/ bruteforce).</li>
                        <li>Launching a number of tools automatically.</li>
                        <li>Running tests not found in other tools.</li>
                        <li>Providing an interactive interface/report.</li>
                        <li>More info: <a href="https://www.owasp.org/index.php/OWASP_OWTF" target="__blank__">https://www.owasp.org/index.php/OWASP_OWTF</a></li>
                    </ul>
                </p>
        </div>
        <div class="row-fluid" id="messages">
                <div id="setup" class="alert alert-danger" style="display:none">
                    <p id="setupMessage"><strong>
                        Please download & install <a href="https://github.com/mozmark/ringleader/raw/master/fx_pnh.xpi" target="_blank">PnH addon</a> for firefox before setup. For more info regarding PnH configuration, click <a href="http://blog.tunnelshade.in/2013/08/plug-n-hack-support-in-owtf-d.html" target="__blank">here</a>
                    </strong></p>
                </div>
                <div id="in_progress" class="alert alert-info" style="display:none">
                    <p id="in_progressMessage">Configuring your browser to work with your man-in-the-middle proxy...</p>
                </div>
                <div id="success" class="alert alert-success" style="display:none">
                    <p id="successMessage">Configuration succeeded!</p>
                </div>
                <div id="failure" class="alert alert-danger" style="display:none">
                    <p>Configuration failed: <span id="failureMessage">Configuration failed</span></p>
                </div>
                <div id="activated" class="alert alert-success" style="display:none">
                    <p id="activatedMessage">Support for <strong>OWTF</strong> has been activated in your browser:</p>
                </div>
                <div id="actions">
                    <div class="col-lg-5"></div>
                    <button id="btn" type="button" class="btn btn-primary btn-lg">Click to Setup!</button>
                </div>
        </div>
        </br>
        <div class="row-fluid">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-3">
                <strong>Useful Links:-</strong>
                <ul>
                    <li><a href="https://github.com/owtf/owtf/wiki" target="__blank">Github wiki</a></li>
                    <li><a href="https://github.com/owtf/owtf_demos" target="__blank">OWTF Demos</a></li>
                    <li><a href="http://blog.7-a.org/search/label/OWTF%20Talks" target="__blank">OWTF Talks</a></li>
                    <li><a href="http://www.youtube.com/user/owtfproject" target="__blank">Youtube Channel</a></li>
                    <li><a href="http://blog.7-a.org/search/label/OWTF%20Release" target="__blank">Release notes</a></li>
                </ul>            
            </div>
            <div class="col-lg-3">
                <strong>Contributor's Links:-</strong>
                <ul>
                    <li><a href="https://github.com/owtf/owtf" target="__blank">Github Repo</a></li>
                    <li><a href="https://github.com/owtf/owtf/issues" target="__blank">Report an Issue</a></li>
                    <li><a href="https://github.com/owtf/owtf/wiki/Contributor%27s-README" target="__blank">Contributor's README</a></li>
                    <li><a href="https://github.com/owtf/owtf/wiki/Create-New-Plugins" target="__blank">Plugin creation help</a></li>
                    <li><a href="https://github.com/owtf/owtf/blob/master/AUTHORS" target="__blank">Contributors</a></li>
                </ul>            
            </div>
            <div class="col-lg-3">
                <strong>Stay in touch:-</strong>
                <ul>
                    <li><a href="http://irc.netsplit.de/channels/details.php?room=%23owtf&net=freenode" target="__blank">IRC Channel</a></li>
                    <li><a href="https://lists.owasp.org/mailman/listinfo/owasp_owtf" target="__blank">Mailing List</a></li>
                    <li><a href="https://twitter.com/owtfp" target="__blank">Twitter</a></li>
                    <li><a href="http://blog.7-a.org">Author's Blog</a></li>
                </ul>            
            </div>
        </div>
    </div>
<script>
  var manifest = {"detail":{"url":"{{ manifest_url }}" }};
  var detected = false;
  var elements = ['setup','in_progress','success','failure','activated','actions'];
  // only show UI for the named elements
    var showUI = function(visible,data){
        console.log(visible);
        function replaceTextContent(node, message) {
            while(node.firstChild) {
                node.removeChild(node.firstChild);
            }
            node.appendChild(document.createTextNode(message));
        }
        for(var idx in elements){
            var elementName = elements[idx];
            var displayElement = document.getElementById(elements[idx]);
            var messageElement = document.getElementById(elements[idx]+'Message');
            if (-1 != visible.indexOf(elementName)) {
            if(data && data[elementName]) {
            replaceTextContent(messageElement, data[elementName]);
            }
             displayElement.style.display = 'block';
            } else {
            displayElement.style.display = 'none';
            }
        }
    };
  var click = function(event) {
    var evt = new CustomEvent('ConfigureSecTool', manifest);
    document.dispatchEvent(evt);
    setTimeout(function() {
      if (!detected) {
        showUI(['setup']);
     }
    },1000);
  };
  // event listener for configuration started event
  var started = function(event) {
    console.log('configuration has started');
    showUI(['in_progress']);
    detected = true;
    };
  // event listener for configuration failed event
  // use this to let the user know something has gone wrong
  var failed = function(event) {
    console.log('configuration has failed');
    var detail = event.detail ? JSON.parse(event.detail) : null;
    showUI(['failure','actions'], detail);
    };
  // event listener for configuration succeeded
  // use this to show a success message to a user in your welcome doc
  var succeeded = function(event) {
    console.log('configuration has succeeded');
    showUI(['success']);
    };
  // event listener for browser support activated
  var activated = function(event) {
    console.log('activation has occurred');
    showUI(['activated','actions']);
    };
  // hook event listener into button
  var btn = document.getElementById('btn');
    btn.addEventListener('click',click,false);
    // Hook configuration event listeners into the document
    document.addEventListener('ConfigureSecToolStarted',started,false);
    document.addEventListener('ConfigureSecToolFailed',failed,false);
    document.addEventListener('ConfigureSecToolActivated',activated,false);
    document.addEventListener('ConfigureSecToolSucceeded',succeeded,false);

</script>
</body>
</html>
