/*!
 * OWASP OWTF
 * https://www.owasp.org/index.php/OWASP_OWTF
 */

/* Importing font-awesome */
$fa-font-path: "/static/build/fonts"; // Path of
@import "~font-awesome/scss/font-awesome.scss";

/* Importing bootstrap */
$icon-font-path: "/static/build/fonts";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "vendor/dataTables.bootstrap.scss";

@import "spinner";
@import "core";
@import "spanfix";
