.toast {
  margin: 4px 0;
  font-size: 13px;
  padding: 20px 30px;
  font-size: 15px;
  z-index: 100000;
  border-radius: 3px;

  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  opacity: 1;
}

.toast.loading .toast-message {
  display: inline-block;
  padding-left: 25px;
}

.toast.loading {
  background: rgba(52, 60, 69, .8);
}
.toast.loading.toast-leave {
  display: none; /* hides immediately*/
}

.toast.loading .icon {
  text-indent: -9999em;
  border: 2px solid rgba(255, 255, 255, .4);
  border-left-color: rgba(255, 255, 255, 1);
  -webkit-animation: loading .5s infinite linear;
  animation: loading .55s infinite linear;
  margin: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.toast.success {
  background: green;
  color: white;
}
.toast.error {
  background: red;
  color: white;
}
.toast.success.toast-leave,
.toast.error.toast-leave {
  opacity: 0;
  /*.transition(opacity .2s linear);*/
}

.toast.loading.toast-message {
  padding-left: 24px;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}