<div class="accordion" id="accordion_{{ ReportID }}">
			{% for TestGroup in TestGroups %}
				{% set TestGroupIndex = loop.index %}
				<div class="accordion-group">
              	  <div class="accordion-heading">
              	  <h4>
                    <a id="{{ ReportID }}_{{ TestGroup.TestGroupInfo.Code }}_title" class="accordion-toggle text-info" data-toggle="collapse" data-parent="#accordion_{{ ReportID }}" href="#collapse_{{ ReportID }}_{{ TestGroupIndex }}">
                                  {{ TestGroup.TestGroupInfo.Code }} {{ TestGroup.TestGroupInfo.Descrip }} <small>{{ TestGroup.TestGroupInfo.Hint }}</small>
                      </a>
                  </h4>
                  </div>
                   <div class="accordion-body collapse" id="collapse_{{ ReportID }}_{{ TestGroupIndex }}" >
                       <div class="accordion-inner">
                	  {% if TestGroup.Matches %}
							<ul class="nav nav-pills ">
								<li class="brand disabled"><a>Type: </a> </li>
							{% for Match in TestGroup.Matches %}
								<li id="tab_{{ ReportID }}_{{ Match.PluginId }}" class=" tab_plugin">

									<a class="{% if loop.first %} first_tab {% endif %}" href="#{{ ReportID }}_{{ Match.PluginId }}" data-toggle="tab">
										<i class=""> </i>
										<i class="">  </i>
										<i class=""> </i>
										{{ Match.PluginName|replace( '_', ' ' )|upper }}
									</a>
								</li>
							{% endfor %}
								<li class="pull-right"><a href="{{ TestGroup.TestGroupInfo.URL }}" class="" target="_blank"><i class="icon-lightbulb"></i></a> </li>
							</ul>
							<div class="tab-content ">

							{% for Match in TestGroup.Matches %}
							<div class="tab-pane" id="{{ ReportID }}_{{ Match.PluginId }}">
					 			{{ Match.PluginContent }}
						 </div>

						 {% endfor %}
						 </div>
						{% else %}
							<div class="alert"> Empty element!</div>
						{%  endif %}
					</div>
					</div>
				</div>
			{% endfor %}
		</div>




<script>
			window.ReportsInfo["{{ ReportID }}"] = {
				"AllPlugins" : new Array('{{ Globals.AllPlugins|join("','") }}'),
				"AllCodes" : new Array('{{ Globals.AllCodes|join("','") }}'),
				"ReportMode" : false,
			}
			window.AllTargets.push("{{ ReportID }}")
			//animate tooltips
			$(".filter").tooltip();

			//InitAllTheWorld();
		 	ReportID = "{{ ReportID }}"
			InitDetailedReport(ReportID)
			ApplyReview( ReportID ) //Apply reviewed plugins
			HighlightNewPlugins( ReportID ) //Right after loading, only once, highlight the new plugins
			//ClickLinkById('filterinfo') //Click on Filter by information only
			DisplayCounters(GetWorkReview(), "__SummaryCounters", '')

</script>
