@import "../abstracts/variables.scss";
@import "../abstracts//mixins";

@mixin targetsPageContainerMixin {
  @include flexbox;
  @include flex-direction(column);
  margin: 4rem 3rem;
  padding: 2rem 2rem;
}

@mixin headingMixin {
  font-family: $font-family-2;
  font-size: 2.5rem;
  font-weight: bold;
  color: $dark-heading-1;
  margin: 0 0;
  padding: 1.5rem 1.8rem;
}

.settingsContainer {
  @include targetsPageContainerMixin;

  &__headingContainer {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);

    & h2 {
      @include headingMixin;
    }

    & button {
      @include buttonMixinCustom(
        $button-backgroundColor-2,
        $button-backgroundColor-3,
        1.5rem,
        20rem,
        1rem,
        1rem,
        0.7rem,
        0.7rem,
        0.8rem,
        0,
        1rem
      );
    }
  }
}
