@import "../abstracts/variables.scss";
@import "../abstracts//mixins";

@mixin inputContainerMixin {
  @include flexbox;
  @include flex-direction(column);
  text-align: left;
  margin: 2.5rem 0 0.5rem 0;

  & label {
    align-items: flex-start;
    font-size: 1.7rem;
    font-family: $font-family-5;
    color: $dark-heading-1;
  }

  & input {
    font-family: $font-family-5;
    padding: 1.5rem 1rem;
    margin: 0.6rem 0;
    font-size: 1.7rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 0.5rem;
  }
}

@mixin containerMixin {
  display: inline-block;
  min-width: 50rem;
  margin: 3rem auto;
  padding: 2rem 5rem;
  box-shadow: 10px 10px 25px -4px rgba(30, 30, 60, 0.164);
  border-radius: 0.9rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.045);
}

@mixin headingMixin {
  font-size: 2.5rem;
  font-family: $font-family-5;
  margin: 2.5rem 0;
  margin-bottom: 6rem;
  font-weight: bold;
  color: $dark-heading-1;
}

@mixin passwordViewTogglerContainerMixin {
  display: inline-block;
  position: absolute;
  right: 7.5%;
  transform: translateY(-50%);
  top: 63%;
  height: 2rem;
  width: 2rem;

  &:hover {
    cursor: pointer;
  }

  & svg {
    height: 100%;
    width: 100%;
  }
}

.signupPageContainer {
  text-align: center;

  &__signupComponentContainer {
    @include containerMixin;

    &__brandLogoContainer {
      & img {
        height: 6rem;
        width: 6rem;
        opacity: 0.75;
      }
    }

    &__heading {
      @include headingMixin;
    }

    &__userNameInputContainer {
      @include inputContainerMixin;
    }

    &__emailInputContainer {
      @include inputContainerMixin;
    }

    &__setPasswordInputContainer {
      @include inputContainerMixin;
      position: relative;

      &__passwordViewTogglerContainer {
        @include passwordViewTogglerContainerMixin;
      }

      & p {
        font-size: 1.4rem;
        color: $dark-heading-1;
        margin-top: 0.5rem;
      }
    }

    &__confirmPasswordInputContainer {
      @include inputContainerMixin;
      position: relative;

      &__passwordViewTogglerContainer {
        @include passwordViewTogglerContainerMixin;
      }
    }

    &__submitButton {
      @include buttonMixinCustom(
        $button-backgroundColor-2,
        $button-backgroundColor-3,
        1.6rem,
        100%,
        1.7rem,
        1.7rem,
        0,
        0,
        0.5rem,
        1.5rem,
        0
      );
    }

    &__forgotPasswordLinkContainer {
      margin: 2rem auto;

      @include flexbox;
      @include justify-content(flex-start);

      & a {
        font-family: $font-family-5;
        font-size: 1.8rem;
      }
    }

    &__loginLinkContainer {
      margin: 2rem auto;
      font-family: $font-family-3;
      font-size: 1.6rem;

      & a {
        font-family: $font-family-5;
        font-size: 1.8rem;
      }
    }
  }
}
