@import "../abstracts/variables.scss";
@import "../abstracts//mixins";

.welcomePageContainer {
  height: 100vh;
  display: flow-root;

  &__infoLogoContainer {
    @include flexbox;
    @include justify-content(center);
    color: $navbar-color-light;
    background-color: $theme-color-1;
    height: 80%;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

    &__info {
      background-color: transparent;
      width: 35%;
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);

      & p {
        font-family: $font-family-5;
        font-size: 2.2rem;
        margin-top: 2rem;
        color: $light-background-1;
      }

      & h1 {
        font-family: $font-family-2;
        font-size: 6rem;
        font-weight: bold;
        color: $light-background-1;
      }
    }

    &__logo {
      background-color: transparent;
      width: 35%;
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      &__container {
        text-align: center;

        & img {
          border-radius: 45%;
          opacity: 0.5;
          margin-bottom: 5rem;
        }
      }
    }

    &__loginButton {
      margin: 2rem 0;
      padding: 1rem 0;

      & a {
        box-shadow: 0px 15px 30px -4px rgba(30, 30, 60, 0.25);
        -webkit-border-radius: 9;
        -moz-border-radius: 9;
        border-radius: 9px;
        font-size: 600;
        font-family: $font-family-1;
        color: $button-color-dark;
        font-size: 20px;
        background: $button-color-light;
        padding: 14px 27px 15px 28px;
        text-decoration: none;

        &:hover {
          background: $hover-dark;
          text-decoration: none;
        }
      }
    }
  }
}
