
/* severity buttons style */
.sev-no {
	color: #000;
}
.sev-low {
	color: #400;
}
.sev-med {
	color: #800;
}
.sev-hi {
	color: #C00;
}
.sev-critic {
	color: #F00;
}

body { 
        padding-top: 70px;
}

/* Used in plugin reports */
.wrappedPre {
        overflow: auto;
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        word-wrap: normal;
        white-space : normal;
}
