
/* severity buttons style */
.sev-no {
	color: #000;
}
.sev-low {
	color: #400;
}
.sev-med {
	color: #800;
}
.sev-hi {
	color: #C00;
}
.sev-critic {
	color: #F00;
}

body {
        padding-top: 70px;
}

/* Used in plugin reports */
.wrappedPre {
        overflow: auto;
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        word-wrap: normal;
}

.commandPre {
    .wrappedPre;
    white-space: normal;
}

.panel-critical > .panel-heading, .alert-critical {
    background-image: linear-gradient(to bottom, #d9534f 0px, #c12e2a 100%);
    background-repeat: repeat-x;
    border-color: #b92c28;
    color: #fff;
}

.btn-critical {
    background-image: linear-gradient(to bottom, #d9534f 0px, #c12e2a 100%);
    background-repeat: repeat-x;
    border-color: #b92c28;
}

.btn-critical:active, .btn-critical.active {
    background-color: #c12e2a;
    border-color: #b92c28;
    color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.panel-passing > .panel-heading, .alert-passing, .label-passing, .btn-passive:active, .btn-passing.active {
    background-image: linear-gradient(to bottom, #76746D 0px, #67655D 100%);
    background-repeat: repeat-x;
    border-color: #5E5D57;
    color: #fff;
}
