/* Attaching fonts with CSS */
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: JosefinSans;
    src: url(../fonts/JosefinSans-SemiBold.ttf);
}

/* severity buttons style */
.sev-no {
	color: #000;
}
.sev-low {
	color: #400;
}
.sev-med {
	color: #800;
}
.sev-hi {
	color: #C00;
}
.sev-critic {
	color: #F00;
}

body {
        padding-top: 70px;
				font-family: 'OpenSans', sans-serif;
}

/* Used in plugin reports */
.wrappedPre {
        overflow: auto;
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        word-wrap: normal;
}

.commandPre {
    .wrappedPre;
    white-space: normal;
}

.panel-critical > .panel-heading, .alert-critical {
    background-image: linear-gradient(to bottom, #d9534f 0px, #c12e2a 100%);
    background-repeat: repeat-x;
    border-color: #b92c28;
    color: #fff;
}

.btn-critical {
    background-image: linear-gradient(to bottom, #d9534f 0px, #c12e2a 100%);
    background-repeat: repeat-x;
    border-color: #b92c28;
}

.btn-critical:active, .btn-critical.active {
    background-color: #c12e2a;
    border-color: #b92c28;
    color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.panel-passing > .panel-heading, .alert-passing, .label-passing, .btn-passive:active, .btn-passing.active {
    background-image: linear-gradient(to bottom, #76746D 0px, #67655D 100%);
    background-repeat: repeat-x;
    border-color: #5E5D57;
    color: #fff;
}

/* Media Query resposible for shifting chart and its legend in center when screen is mobile size */
@media (max-width: 768px) {
    .vulchart {
      position: relative;
      left: 22%;
      top: 50%;
    }
    .vulchart-legend {
      position: relative;
      padding-left: 25%;
    }
}

.severity-legend, .workerpanel-legend {
    list-style-type: none;
}

.legend-color-box {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 20px;
}

.legend-color-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.severity-label {
    margin: 0px;
    padding: 0px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar-inverse {
    background-color: #2f4050;
    border-color: #2f4050;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .jumbotron .h1, .jumbotron h1 {
      font-size: 61px;
    }
}

@media (max-width: 912px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .dashboard-subheading {
      text-align: center;
    }

    .welcome-heading > h1 {
      text-align: center;
    }
}

.btn-target {
  background-color: #2f4050;
  border-color: #2f4050;
  color: #9d9d9d;
}

.btn-target:hover {
  color: #fff;
}

.btn-target:focus {
  color: #fff;
}

@media (min-width: 914px){
  .btn-target {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.target-tab {
  position: relative;
  float: left;
}

/* CSS Belongs to Vulnerability Panel */
.sevpanel-critical {
  background-color: #c12e2a;
}

.sevpanel-high {
  background-color: #FF9900;
}

.sevpanel-medium {
  background-color: #ffcc00;
}

.sevpanel-low {
  background-color: green;
}

.sevpanel-info {
  background-color: #337ab7;
}

.sevpanel-passing {
  background-color: #808080;
}

.sevpanel {
  color: #fff;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.panel-heading .count {
  font-size: 2.5em;
  font-weight: 200;
}

.dashboard-subheading {
  color: #808080;
}

.panel-heading .severity {
  font-size: 1.2em;
}

.panel-div {
  padding: 0px;
}

.panel {
  border-radius: 0px;
}
/* --- End of CSS Vulnerability Panel ---- */

/* --- Start of Worker Panel CSS ----- */
.workerpanel-label {
  padding-top: 5px;
}

.workerpanel-labelimg {
  float: left;
  margin-right: 5px;
}

@media (max-width: 768px) {
    .workerpanel-progress-bar > svg {
      position: relative;
      left: 30%;
      top: 50%;
    }
    .workerpanel-legend {
      padding-left: 22%;
    }
}

/* End of CSS for Worker Panel */

/* Modal related twiks */

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-title {
    color: #e94e38;
    text-align: center;
}
