<table class="table table-bordered">
    <tr>
        <td colspan="2">
            <b>Stats</b>
            <ul>
                <li> {{ len(SortedMatches.keys()) }} Unique matches found</li>
                <li> {{ MatchPercent }} transactions matched</li>
            </ul>
        </td>
    </tr>
    {% if SortedMatches %}
        <tr>
            <td>
                <table class="table table-hover table-striped">
                    <tr>
                        <th>Match</th>
                        <th>Found In</th>
                    </tr>
                    {% for match, transactions in SortedMatches.items() %}
                        <tr>
                            <td>
                                <pre class="wrappedPre">{{ match }}</pre>
                            </td>
                            <td>
                                {% for transaction in transactions %}
                                    <a class="label label-primary" onclick="navigateToTransaction('{{ transaction.ID }}');return(false);" target="_blank" href="#">
                                        {{ transaction.ID }}
                                    </a>
                                {% end %}
                            </td>
                        </tr>
                    {% end %}
                </table>
            </td>
        </tr>
    {% end %}
</table>
