$bgDefault: #413745;
$bgHighlight: #343630;
$colDefault: #bfc5c7;
$colHighlight: #cbe14b;
$dropDown: false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    >li {
      >a {
        color: $colDefault;
        &:hover,
        &:focus {
          color: $colHighlight;
        }
      }
      @if $dropDown {
        >.dropdown-menu {
          background-color: $bgDefault;
          >li {
            >a {
              color: $colDefault;
              &:hover,
              &:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
              }
            }
            &.divider {
              background-color: $bgHighlight;
            }
          }
        }
      }
    }
    @if $dropDown {
      .open .dropdown-menu>.active {
        >a,
        >a:hover,
        >a:focus {
          color: $colHighlight;
          background-color: $bgHighlight;
        }
      }
    }
    >.active {
      >a,
      >a:hover,
      >a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    >.open {
      >a,
      >a:hover,
      >a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover,
    &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    >li>a {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    >.active {
      >a,
      >a:hover,
      >a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}

.navbar {
	position: flex;
	width: 100%;
	z-index: 10;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}