textarea {
    display: block;
    width: 100%;
    background: white;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    padding: 0.5em;
    transition: border 0.2s ease;
    resize: vertical;
}

.ReactTable input.checkbox {
	-webkit-appearance: checkbox;
	appearance: checkbox;
}
h1 {
  font-size: 2.5em;
}
a {
  color: #02bfe6;
  font-weight: bold;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
.logo {
  width: 400px;
  max-width: 100%;
	margin: 0 auto;
	display: block;
}

.FormInput {
  display: inline-block;
}
form > div {
  margin-bottom: 1em;
}
h6 {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
label {
  display: block;
}
radiogroup {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  display: inline-block;
  border-radius: 3px;
}
input,
textarea,
select {
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 2px;
}
.FormInput.-error input,
.FormInput.-error textarea,
.FormInput.-error select {
  border-color: #f00;
}
.FormError {
  color: #f00;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
}
em {
  font-style: italic;
}
.nested {
  padding: 10px;
}
.nested > div {
  background: rgba(0,0,0,0.05);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
.form_wrapper{
	padding: 20px;
}

.react-resizable{
  max-width: 100%;
}

.sub-header {
  color: darkgrey;
  border-bottom: 1px solid grey;
  position: relative;
  margin: -30px 0 20px; // Offset body padding-top
  line-height: 1;
  font-size: 16px;
  min-height: 62px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);

  .btn {
    padding: 6px 12px;
  }

  .org-name {
    float: left;
    font-weight: bold;
    color: darkgray;

    a {
      color: darkgray;

      &:hover {
        color: darkgray;
      }
    }
  }

  .project-header {
    display: flex;
    &-main {
      flex-grow: 1;
    }
    &-toggle {
      text-align: right;
      label {
        color: lightgray;
        font-size: 14px;
        font-weight: normal;
        display: block;
        margin-top: 8px;
      }
    }
  }

  h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
  }

  .nav-tabs {
    position: relative;
    z-index: 2;
    margin-bottom: 0;

    li {
      position: relative;
      z-index: 2;

      a {
        padding-bottom: 13px;
      }
    }
  }

  .align-right {
    .nav-tabs {
      margin-top: 4px; // balance active border-bottom

      > li {
        margin: 0 0 0 20px;
        float: none;
        display: inline-block;

        > a {
          padding: 18px 0px;
        }
      }
    }
  }
}