@import "../abstracts/variables.scss";
@import "../abstracts//mixins";

.configurationTabsNavContainer {
  margin: 4rem 0.5rem;
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(flex-start);
  box-shadow: 10px 10px 30px -4px rgba(30, 30, 60, 0.092);
  border-radius: 0.5rem;
  background-color: $light-background-1;
  border: 1px solid rgba(0, 0, 0, 0.045);
  padding: 3rem 0;

  & span {
    font-size: 1.7rem;
    font-family: $font-family-2;
    padding: 1.5rem 1.8rem;
    margin-right: 3rem;

    @include xl {
      font-size: 1.3rem;
      padding: 1.5rem 1.3rem;
      margin-right: 0.5rem;
    }

    &:hover {
      cursor: pointer;
      background-color: $hover-backgroundColor;
    }
  }

  @include xl {
    @include justify-content(space-between);
  }

  @include md {
    @include flex-direction(column);
    margin: 1.5rem 0.5rem;
  }

  @include md {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
