sphinx
sphinx_py3doc_enhanced_theme
sphinxcontrib.httpdomain
blinker==1.6.2
cffi==1.15.1
cookies==2.2.1
dnspython==2.6.1
future==0.16.0
hrt==0.1.0
ipaddr
Markdown==2.6.9
pexpect==4.2.1
psutil==5.6.6
psycopg2==2.9.9
owtf_ptp==0.4.3
pyOpenSSL==17.2.0
pyyaml==5.4
requests==2.18.4
selenium==3.4.3
six==1.10.0
SQLAlchemy==1.1.13
tornado==6.3.3

